.c-svg {
    width: 19px;
    height: 19px;

    @include f-center;

    @include screen(sm) {
        width: 32px;
        height: 32px;
    }

    &__long {
        width: 21px;
        height: auto;

        @include screen(sm) {
            width: 44px;
        }
    }


}

.c-img {
    img {
        max-width: 100%;
        height: auto;
    }

    &__link {
        display: block;
        height: 100%;
    }
}