$body: #fff;
$color: #000;

$black: #000;
$black-light: #1D1D1D;
$black-lighter: #232321;

$gray: #EDF0F4;


$screens: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);